# Worldbank

In [7]:
from datetime import datetime
import wbdata
data_range = datetime(2010, 1, 1), datetime(2022, 1, 1)              
indicators = {"SP.DYN.LE00.IN": "Life expectancy at birth, total (years)"} 
wbdata.api.get_dataframe(indicators, country=["SK","PL", "CZ", "HU"], data_date=data_range)

                      Life expectancy at birth, total (years)
country         date
Czech Republic  2020                                      NaN
                2019                                79.129268
                2018                                79.029268
                2017                                78.978049
                2016                                79.026829
                2015                                78.578049
                2014                                78.824390
                2013                                78.175610
                2012                                78.075610
                2011                                77.873171
                2010                                77.424390
Hungary         2020                                      NaN
                2019                                76.021951
                2018                                76.065854
                2017                                75.817073
                2016                                76.063415
                2015                                75.568293
                2014                                75.763415
                2013                                75.565854
                2012                                75.063415
                2011                                74.858537
                2010                                74.207317
Poland          2020                                      NaN
                2019                                77.856098
                2018                                77.602439
                2017                                77.753659
                2016                                77.851220
                2015                                77.451220
                2014                                77.602439
                2013                                77.000000
                2012                                76.746341
                2011                                76.695122
                2010                                76.246341
Slovak Republic 2020                                      NaN
                2019                                77.470732
                2018                                77.265854
                2017                                77.165854
                2016                                77.165854
                2015                                76.563415
                2014                                76.812195
                2013                                76.412195
                2012                                76.109756
                2011                                75.958537
                2010                                75.112195