# Worldbank

In [10]:
from datetime import datetime
import wbdata
data_range = datetime(2019, 1, 1), datetime(2019, 12, 1)              
indicators = {"SP.DYN.LE00.IN": "Life expectancy at birth, total (years)"} 
wbdata.api.get_dataframe(indicators, country=["SK","PL", "CZ", "HU"], data_date=data_range)

                 Life expectancy at birth, total (years)
country
Czech Republic                                 79.129268
Hungary                                        76.021951
Poland                                         77.856098
Slovak Republic                                77.470732